JavaWeb/src/XML/students1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="mystudents1">
	<element name="students">
		<complexType>
			<sequence>
				<element name="student" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="name" type="string"></element>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>